
x-server-template: &server-template
    build:
        context: ./
        dockerfile: ./Dockerfile
        args:
            BASE_IMAGE_TAG: $BASE_IMAGE_TAG
            DEVELOP_DEPENDENCIES: $DEVELOP_DEPENDENCIES
            PYTHONBREAKPOINT: import ipdb;ipdb.set_trace
    volumes:
        - .:/app
    depends_on:
        - postgres
        - clickhouse
        - redis
        - kafka

services:
    server:
        <<: *server-template
        command: python manage.py runserver
        ports:
            - 8000:8000

    worker:
        <<: *server-template
        command: python manage.py runworker --processes 2 --threads 20

    scheduler:
        <<: *server-template
        command: python manage.py runscheduler

    postgres:
        image: postgres:16.2-alpine
        ports:
            - 5432:5432
        environment:
            POSTGRES_DB: postgres_db
            POSTGRES_USER: postgres_db_user
            POSTGRES_PASSWORD: postgres_db_passwword

    zookeeper:
        image: zookeeper:3.8
        ports:
            - 2181:2181

    clickhouse:
        image: clickhouse/clickhouse-server:25.3-alpine
        ports:
            - 8123:8123
        environment:
            CLICKHOUSE_DB: clickhouse_db
            CLICKHOUSE_USER: clickhouse_db_user
            CLICKHOUSE_PASSWORD: clickhouse_db_passwword
            CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
        volumes:
            - ./clickhouse/config.d:/etc/clickhouse-server/config.d
        depends_on:
          - zookeeper

    redis:
        image: redis/redis-stack:7.2.0-v13
        ports:
            - 6379:6379

    kafka-ui:
        image: kafbat/kafka-ui:d285a69
        depends_on:
            - kafka
        environment:
            - KAFKA_CLUSTERS_0_NAME=local
            - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
            - KAFKA_CLUSTERS_0_ZOOKEEPER=
        ports:
            - 8080:8080

    kafka:
        image: bitnamilegacy/kafka:4.0.0
        environment:
            - KAFKA_CFG_NODE_ID=0
            - KAFKA_CFG_PROCESS_ROLES=controller,broker
            - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
            - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
            - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
            - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
            - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
            - KAFKA_CFG_OFFSETS_TOPIC_REPLICATION_FACTOR=1
            - KAFKA_CFG_DELETE_TOPIC_ENABLE=true
